BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #190d99; PADDING-TOP: 0px; FONT-FAMILY: arial, verdana, helvetica, sans-serif; BACKGROUND-COLOR: #C9E9FF; TEXT-ALIGN: center
}
UL.navbar {
	CLEAR: both; PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 100%; LINE-HEIGHT: 100%; PADDING-TOP: 0px; LIST-STYLE-TYPE: none; BACKGROUND-COLOR: #0063a1
}
UL.navbar LI {
	DISPLAY: inline
}
A.nav:link {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 10pt; PADDING-TOP: 12pt; DISPLAY: block; FONT-WEIGHT: bold; FLOAT: left; MARGIN: 0px; WIDTH: 12.5%; COLOR: #ffffff; BACKGROUND-COLOR: #AA6388; TEXT-DECORATION: none;
}
A.nav:visited {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 10pt; PADDING-TOP: 12pt; DISPLAY: block; FONT-WEIGHT: bold; FLOAT: left; MARGIN: 0px; WIDTH: 12.5%; COLOR: #ffffff; BACKGROUND-COLOR: #AA6388; TEXT-DECORATION: none;
}
A.nav:hover {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 15pt; PADDING-TOP: 16pt; DISPLAY: inline; FONT-WEIGHT: bold; FLOAT: left; MARGIN: 0px; WIDTH: 12.5%; COLOR: #ffffff; BACKGROUND-COLOR: #ddaa00; TEXT-DECORATION: none; FONT-SIZE: 10pt; 
}
A.nav:active {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 15pt; PADDING-TOP: 16pt; DISPLAY: inline; FONT-WEIGHT: bold; FLOAT: left; MARGIN: 0px; WIDTH: 12.5%; COLOR: #ffffff; BACKGROUND-COLOR: #999999; TEXT-DECORATION: none;
}
A.currentnav:link {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 15pt; PADDING-TOP: 16pt; DISPLAY: block; FONT-WEIGHT: bold; FLOAT: left; MARGIN: 0px; WIDTH: 12.5%; COLOR: #ffffff; BACKGROUND-COLOR: #0063a1; TEXT-DECORATION: none; FONT-SIZE: 10pt; 
}
A.currentnav:visited {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 15pt; PADDING-TOP: 16pt; DISPLAY: block; FONT-WEIGHT: bold; FLOAT: left; MARGIN: 0px; WIDTH: 12.5%; COLOR: #ffffff; BACKGROUND-COLOR: #0063a1; TEXT-DECORATION: none; FONT-SIZE: 10pt; 
}
A.currentnav:hover {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 15pt; PADDING-TOP: 16pt; DISPLAY: inline; FONT-WEIGHT: bold; FLOAT: left; MARGIN: 0px; WIDTH: 12.5%; COLOR: #ffffff; BACKGROUND-COLOR: #0023d1; TEXT-DECORATION: none; FONT-SIZE: 10pt; 
}
.content {
	CLEAR: left; PADDING-RIGHT: 1ex; PADDING-LEFT: 1.5ex; PADDING-BOTTOM: 1em; MARGIN: 1.2em 13.5em 0px 0px; PADDING-TOP: 1em; TEXT-ALIGN: left;
}
/*
.content H2 {
	TEXT-INDENT: 3em
}
*/
.content LI {
	MARGIN-LEFT: 1.1em; TEXT-INDENT: 0.2em
}
A:link {
	COLOR: #0088FF; TEXT-DECORATION: underline
}
A:visited {
	COLOR: #0088FF; TEXT-DECORATION: underline
}
A:hover {
	COLOR: #660000; TEXT-DECORATION: underline
}
A:active {
	COLOR: #0088FF; TEXT-DECORATION: underline
}
P {
	PADDING-RIGHT: 0.3em; PADDING-LEFT: 0.3em; PADDING-BOTTOM: 0.3em; MARGIN: 0em 0px 1.2em; PADDING-TOP: 0.3em; FONT-SIZE: 12px;
}
.rightcontainer {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: right; PADDING-BOTTOM: 0px; MARGIN: 1em 0px 0px; WIDTH: 14em; PADDING-TOP: 0px
}
.footer {
	CLEAR: both; PADDING-RIGHT: 0.8em; BORDER-TOP: #AA6388 1px solid; PADDING-LEFT: 0.8em; FONT-SIZE: 75%; PADDING-BOTTOM: 0.8em; MARGIN: 2.5em 0.2em 0.5em 0.5em; COLOR: #AA6388; PADDING-TOP: 0.8em; TEXT-ALIGN: left
}
.footer .right {
	CLEAR: right; FLOAT: right; TEXT-ALIGN: right
}
.footer P {
	MARGIN: 0px
}
TD {
	FONT-SIZE: 12px; FONT-FAMILY: arial, verdana, helvetica, sans-serif
}
H1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 250%; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #4e0000; PADDING-TOP: 0px; FONT-STYLE: italic; FONT-FAMILY: "Trebuchet MS", verdana, arial, sans-serif
}
/*
H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 120%; PADDING-BOTTOM: 0px; MARGIN: 0.2em; COLOR: #3b4471; PADDING-TOP: 0px; FONT-STYLE: italic; FONT-FAMILY: "Trebuchet MS", verdana, arial, sans-serif; TEXT-DECORATION: underline
}
*/
H3 {
	PADDING-RIGHT: 0.2em; PADDING-LEFT: 0.2em; FONT-WEIGHT: bold; FONT-SIZE: 125%; PADDING-BOTTOM: 0.2em; MARGIN: 0.2em; COLOR: #3b4471; PADDING-TOP: 0.2em; FONT-FAMILY: "Trebuchet MS", verdana, arial, sans-serif; TEXT-DECORATION: underline
}
H4 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 120%; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #3b4471; PADDING-TOP: 0px; FONT-FAMILY: "Trebuchet MS", verdana, a\
rial, sans-serif; TEXT-DECORATION: underline
}
DIV {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.container {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px auto; WIDTH: 900px; PADDING-TOP: 0px; BACKGROUND-COLOR: #ffffff
}
.titleblock {
	PADDING-RIGHT: 2em; BACKGROUND-POSITION: 100% center; PADDING-LEFT: 2em; FONT-WEIGHT: 500; FONT-SIZE: xx-small; BACKGROUND-IMAGE: url(zhoulab10.gif); PADDING-BOTTOM: 2em; MARGIN: 0px; PADDING-TOP: 2em; BACKGROUND-REPEAT: no-repeat; BACKGROUND-COLOR: #a0c9ff; TEXT-ALIGN: center
}
.titleblock P {
	COLOR: #3b4471; TEXT-INDENT: 4em
}
.rightbox {
	BORDER-RIGHT: #999999 1px solid; PADDING-RIGHT: 0.3em; BORDER-TOP: #999999 1px solid; PADDING-LEFT: 0.3em; PADDING-BOTTOM: 0.3em; MARGIN: 0.5em; BORDER-LEFT: #999999 1px solid; PADDING-TOP: 0.3em; BORDER-BOTTOM: #999999 1px solid; TEXT-ALIGN: center
}
.rightcontainer H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 1.5em; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; TEXT-ALIGN: left
}
.linkbox A {
	DISPLAY: block
}
.pubcontent {
	CLEAR: left; PADDING-RIGHT: 1ex; PADDING-LEFT: 1.5ex; PADDING-BOTTOM: 1em; MARGIN: 1.2em 1.2em 0px 0px; PADDING-TOP: 1em; TEXT-ALIGN: left
}
.pubcontent H2 {
	TEXT-INDENT: 3em
}
.pubcontent LI {
	MARGIN-LEFT: 1.1em; TEXT-INDENT: 0.2em
}
.left {
	FLOAT: left
}
.padded {
	MARGIN: 10px 15px 15px 15px;
}
.peopleH2 {
	PADDING: 0 0 5px 0px; MARGIN: 0 0 0 15px; COLOR: #555555; BORDER-BOTTOM: #666666 1px dotted
}
.peopleH2A {
	MARGIN: 0; PADDING: 0; TEXT-INDENT: 0.5em; FONT-SIZE: 13pt;
}
.profile {
	CLEAR: both; 
}
.content H3 {
	MARGIN: 5px 0 0 0; PADDING: 0; FONT-SIZE: 12pt; COLOR: #190d99; TEXT-DECORATION: none;
}

